h1 {
  color: blueviolet;
}
img {
  width: 300px;
}
.all-center {
  text-align: center;
  background: #98eae3;
  max-width: 800px;
  display: block;
  margin: 50px auto;
  padding: 20px;
}
a {
  font-size: 18px;
}
